<div class="max-w-2xl mx-auto bg-gray-100 h-screen">
  <div class="pb-12 pt-4" #chatContainer>
    <div *ngFor="let item of msgList; let i = index" class="mx-3 my-6" [class.mt-0]="i === 0" #messages>
      <app-chat-item [msgItem]="item"> </app-chat-item>
    </div>
  </div>
  <form class="text-center fixed bottom-0 left-0 right-0 bg-gray-200 py-2 z-50" (submit)="sendMsg($event)">
    <input type="text" name="msg1111" class="border focus:outline-none" [(ngModel)]="msg" />&nbsp;
    <button type="submit" class="btn btn-teal-300">发送消息</button>
  </form>
</div>
