<div class="md:flex px-6 md:flex-wrap">
  <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 mt-4" *ngFor="let user of userList" (click)="toChat(user)">
    <div class="flex mr-4 shadow-xl rounded-sm bg-gray-100">
      <img [src]="user.avatar" alt="" class="w-20 h-20 rounded-tl-lg rounded-bl-lg" />
      <div class="border border-l-0 pl-3 w-full rounded-tr-lg rounded-br-lg">
        <h2 class="my-2 text-purple-800">
          <span class="text-justify inline-block w-16">用户名: </span>{{ user.name }}
        </h2>
        <p class="text-pink-800"><span class="text-justify inline-block w-16">邮箱: </span>{{ user.email }}</p>
      </div>
    </div>
  </div>
</div>
