.bubble {
  position: relative;
  .arrow {
    content: '';
    position: absolute;
    bottom: 100%;
    width: 16px;
    height: 16px;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
  }
  &.text-right .arrow {
    right: 3rem;
    border-left-width: 10px;
    border-left-color: currentColor;
    border-radius: 32px 0 0 0;
  }
  &.text-left .arrow {
    left: 3rem;
    border-right-width: 10px;
    border-right-color: currentColor;
    border-radius: 0 32px 0 0;
  }
}
